h3{color:red; 
    background: greenyellow;}
h1{color: blue;background: burlywood;
font-family: Arial, Helvetica, sans-serif;}
table,
    th,
    td {
        border: 1px solid black;background: wheat;
    }
    img{width: 110px;}